/** @format */

/* carousel image style */

/* Course Styling Section */

/* footer section */

.bg-icon-color {
  background-color: #322c2c;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.carousel-item::before {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* @media screen and (max-width: 767px) {
  .course-img {
    width: 100%;
  }
  .card-body {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
} */
