/** @format */

/* Carousel opacity */

.carousel-item::before {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* footer icon background*/

.bg-icon-color {
  background-color: #322c2c;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
